@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #545b7f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  h1 {
    @apply text-slate-600 text-9xl font-['Bahnschrift'];
  }

  h2 {
    @apply text-gray-400 text-sm font-normal font-['Bahnschrift'];
  }

  h3 {
    @apply text-slate-600 text-4xl font-normal font-['Bahnschrift'];
  }

  p {
    @apply text-slate-600 text-xl font-normal font-['Bahnschrift'];
  }
}
