@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #545b7f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

p {
  color: var(--foreground);
  font-family: "Bahnschrift", "Segoe UI", Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--foreground);
  font-family: "Bahnschrift", "Segoe UI", Arial, Helvetica, sans-serif;
}

.text-shadow-focusing {
  text-shadow: 0px 0px 14.9px rgba(194, 201, 220, 0.67);
}
